@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

html, body {
    background-image: url('./assets/rain\ -\ Copie.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1920px;
    height: 100%;
}

.font-size-125em {
    font-size: 1.25em;
}

.search-col {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
}

.form-search {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.color-grey {
    color: rgb(185, 185, 185);
}

.list-history {
    padding-left: 0;
    list-style-type: none;
    line-height: 60px;
}

.hr-class {
    color: white;
}

.city-info {
    padding-top: 69vh;
    padding-left: 17vh;
    color: white;
}

.temp {
    font-size: 100px;
    font-weight: bold;
}

.city {
    font-weight: bold;
    font-size: 50px;
}

.icon {
    height: auto;
    width: 70px;
}

.button-search {
    background-color: #9ab1ad;
    border: none;
    border-radius: 3px;
    width: 90px;
    color: white;
    font-weight: bold;
    background-image: url('./assets/loupe.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

::placeholder {
    color: white;
}